.profile__change-icon{
    position: absolute;
    top: 49px;
    left: 47px;
    width: 26px;
    height: 26px;
}
    .profile__icon-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .1s;
    }

 